:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Red Hat Display', sans-serif;
  background-color: var(--Pale-blue);
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat: repeat-x;
}

main {
  width: 20.5rem;
  border-radius: 1.25rem;
  overflow: hidden;
  /* no need to add border-radius to image and card  */
  box-shadow: -0.2rem 0.25rem 0.75rem hsl(245, 75%, 52%, 0.15);
}

h1 {
  font-size: 1.2rem;
  font-weight: 900;
  color: var(--Dark-blue);
}

h6 {
  font-size: 0.9rem;
  font-weight: 900;
  margin-bottom: 0.1rem;
  color: var(--Dark-blue);
}

p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--Desaturated-blue);
  margin-bottom: 0;
  /* changing Chromium default p margin  */
}

article {
  background-color: white;
  padding: 2.2rem 1.5rem 2rem;
  text-align: center;
}

#illustration {
  width: 100%;
  display: block;
  /*remove white space in Firefox*/
}

.description {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  line-height: 180%;
}

.plan-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Very-pale-blue);
  padding: 6.5%;
  border-radius: 0.8rem;
}

#icon {
  width: 3rem;
}

.plan-price {
  text-align: left;
  margin-left: -5%;
}

button {
  border: none;
  border-radius: 0.7rem;
  font-size: 0.9rem;
  font-weight: 900;
  cursor: pointer;
  transition: 0.2s;
}

.btn-change {
  background-color: transparent;
  font-size: 0.9rem;
  color: var(--Bright-blue);
  text-decoration: underline;
}

.btn-top {
  margin-top: 1.6rem;
  margin-bottom: 1.5rem;
  background-color: var(--Bright-blue);
  padding: 1rem 1rem;
  width: 100%;
  color: white;
  box-shadow: -0.2rem 0.75rem 0.75rem hsl(245, 75%, 52%, 0.25);
}

.btn-bottom {
  background-color: transparent;
  color: var(--Desaturated-blue);
}

.btn-change:hover {
  opacity: 0.7;
  text-decoration: none;
}

.btn-top:hover {
   opacity: 0.7;
}

.btn-bottom:hover {
   color: var(--Dark-blue);
}

@media screen and (min-width: 720px) and (min-height: 720px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }

  main {
    width: 28rem;
  }

  article {
    padding: 3rem;
  }

  h1 {
    font-size: 1.6rem;
  }

  p, button {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }

  .description {
    margin-bottom: 1rem;
  }

  .plan-price {
    margin-left: -20%;
  }

  .btn-top {
    margin-top: 2.2rem;
    margin-bottom: 2rem;
  }
}
